* {
    font-family: FontAwesome, JetBrains Mono Medium;
    font-size: 15px;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    background-color: #000000;
    color: #FFFFFF;
    padding-right: 10px;
}

#workspaces button.active {
    padding-left: 20px;
    padding-right: 30px;
    color: #FA5F5F;
}

/* #workspaces button.urgent { */
/*     color: #F77B7B; */
/* } */

#pulseaudio,
#wireplumber,
#backlight,
#network,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#clock,
#tray {
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    border-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background-color: #000000;
    margin-top: 8px;
}

#workspaces{
    padding: 5px 0px 5px 10px;
    margin: 8px 8px 0px 8px;
}

#tray {
    padding: 5px 10px 5px 10px;
    margin: 8px 8px 0px 8px;
}

.modules-left > widget:first-child > #workspaces {
    background-color: #000000;
    border-style: solid;
    border-color: #FA5F5F;
    border-width: 3px;
    border-radius: 10px;
}

#wireplumber {
    color: #FFFFFF;
    border-left-style: solid;
    border-left-width: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pulseaudio {
    color: #FFFFFF;
}

#backlight {
    color: #FFFFFF;
}

#network {
    color: #FFFFFF;
}

#cpu {
    color: #FFFFFF;
}

#memory {
    color: #FFFFFF;
}

#disk {
    color: #FFFFFF;
}

#temperature {
    color: #FFFFFF;
}

#battery {
    color: #FFFFFF;
}

#clock {
    color: #FFFFFF;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#tray {
   border-style: solid;
   border-width: 3px;
   border-radius: 10px;
}
