* {
    font-family: FontAwesome, JetBrains Mono Medium;
    font-size: 15px;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    background-color: #1E2127;
    color: #D1C2E9;
    padding-right: 10px;
}

#workspaces button.active {
    color: #807BF7;

}

#workspaces button.urgent {
    color: #F77B7B;
}

#workspaces button:hover {
    background: none;
    border: none;
}

#pulseaudio,
#wireplumber,
#backlight,
#network,
#cpu,
#memory,
#disk,
#temperature,
#battery,
#clock,
#tray {
    color: #D1C2E9;
    padding: 5px 10px 5px 10px;
    border-color: #807BF7;
    border-top-style: solid;
    border-top-width: 3px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    background-color: #1E2127;
    margin-top: 8px; 
}

#workspaces{
    padding: 5px 0px 5px 10px;
    margin: 8px 8px 0px 8px;
}

#tray {
    padding: 5px 10px 5px 10px;
    margin: 8px 8px 0px 8px;
}

.modules-left > widget:first-child > #workspaces {
    background-color: #1E2127;
    border-style: solid;
    border-color: #807BF7;
    border-width: 3px;
    border-radius: 10px;
}

#wireplumber {
    /* color: #F77B7B; */
    color: #7BaBf7;
    border-left-style: solid;
    border-left-width: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#pulseaudio {
    /* color: #F77B7B; */
    color: #7BaBf7;
}

#backlight {
    /* color: #F7C17B; */
    color: #7BaBf7;
}

#network {
    /* color: #F7F57B; */
    color: #7BaBf7;
}

#cpu {
    /* color: #9CF77B; */
    color: #7B85F7;
}

#memory {
    /* color: #7BF79C; */
    color: #7B85F7;
}

#disk {
    /* color: #7BC3F7; */
    color: #7B85F7;
}

#temperature {
    /* color: #7B85F7; */
    color: #A87BF7;
}

#battery {
    /* color: #C87BF7; */
    color: #A87BF7;
}

#clock {
    /* color: #F77BF0; */
    color: #A87BF7;
    border-right-style: solid;
    border-right-width: 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#tray {
   border-style: solid;
   border-width: 3px;
   border-radius: 10px;
}
