*{
	border: none;
	margin: 0;
	padding: 0;
	outline: none;
	color: #FFFFFF;
	box-shadow: none;
}

window{
	font-family: "JetBrains Mono Medium";
	background-color: #000000;
	border-radius: 10px;
}

#outer-box{
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 3px;
	border-radius: 10px;
}

#entry{
	padding: 0.5em;
	font-size: 1.3em;
}

#entry:selected{
	background-color: #FFFFFF;
}

.entry > label:selected{
	background-color: #FFFFFF;
  color: #000000;
}

#input{
	background-color: #000000;
	padding: 0.5em;
	font-size: 1.3em;
}

image{
	margin-right: 0.5em;
	background-color: #FFFFFF;
  color: #000000;
	border-radius: 5px;
	padding: 5px;
}

#input > image{
	background-color: #FA5F5F;
}
